.el-button {
  background-color: $button-color !important;
  border: $border !important;
  color: #fff !important;
}

.el-button:hover {
  background-color: $button-color-active !important;
  color: #fff !important;
}
.wrapper {
  background-image: -webkit-linear-gradient(top, #000, #098);
}
